<div class="container"> 
  <h1>REGISTER</h1> 
  <hr> 
  <form  style="box-shadow: 0 0 15px gray; width:80%;  padding: 20px 20px; height:50% ;margin-left: 10%" [formGroup]="form" (ngSubmit)="register()"> 
  <!-- <form> --> 
    <div style="margin-left:13% ;margin-bottom: 5%;margin-top: 5%">
    <div style="margin-left: 10%"*ngIf="form.errors" class="alert alert-danger">Any field is invalid</div> 
  <div class="form-group row"> 
    
  <div class="col-xs-5"> 
  <label for="firstName"> FIRST NAME</label> 
  <input 
  formControlName="firstName" 
  id="firstName" 
  type="text" 
  class="form-control" 
  autocomplete="off" 
  [ngClass]="{ 'is-invalid': f.firstName.errors && f.firstName.touched}"> 
  <!-- <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="alert alert-danger"> --> 
  <div *ngIf= "f.firstName.touched && f.firstName.invalid" class="invalid-feedback"> 
  <!-- <div *ngIf="firstName.errors.required">First Name is required 
  </div> --> 
  <div *ngIf="f.firstName.errors.required">First Name is required</div> 
  </div> 
  <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback"> 
  <div *ngIf="f.firstName.errors.required">First Name is required</div> 
  </div> --> 
  </div> 
  
  
  <div class="col-xs-5"> 
  <label for="lastName"> LAST NAME</label> 
  <input 
  formControlName="lastName" 
  id="lastName" 
  type="text" 
  class="form-control" 
  autocomplete="off" 
  [ngClass]="{'is-invalid': f.lastName.errors && f.lastName.touched}"> 
  <!-- <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger"> --> 
  <div *ngIf=" f.lastName.errors && f.lastName.touched" class="invalid-feedback"> 
  <!-- <div *ngIf="lastName.errors.required">Last Name is required 
  </div> --> 
  <div *ngIf="f.lastName.errors.required">Last Name is required</div> 
  </div> 
  <!-- <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback"> 
  <div *ngIf="f.lastName.errors.required">Last is required</div> 
  </div> --> 
  
  </div> 
  </div> 
  
  <div class="form-group row"> 
  <div class="col-xs-5"> 
  <label for="username">EMAIL ADDRESS</label> 
  <input 
  formControlName="username" 
  id="username" 
  type="text" 
  class="form-control" 
  autocomplete="off" 
  [ngClass]="{'is-invalid': f.username.errors && f.username.touched}"> 
  <!-- <div *ngIf="username.touched && username.invalid" class="alert alert-danger"> --> 
  <div *ngIf=" f.username.errors && f.username.touched" class="invalid-feedback"> 
  <!-- <div *ngIf="username.errors.required">Email is required</div> --> 
  <div *ngIf="f.username.errors.required">Username is required</div> 
  <div *ngIf="f.username.errors.email">Email must be a valid email address</div> 
  </div> 
  </div> 
  <div class="col-xs-5"> 
  <label for="phoneNo">PHONE NUMBER</label> 
  <input 
  formControlName="phoneNo" 
  id="phoneNo" 
  type="tel" 
  pattern="[1-9]{1}[0-9]{9}" 
  class="form-control" 
  autocomplete="off" 
  [ngClass]="{'is-invalid': f.phoneNo.errors && f.phoneNo.touched}"> 
  <!-- It is numeric.It will be max of 10 chars.First digit is not zero --> 
  <!-- <div *ngIf="phoneNo.touched && phoneNo.invalid" class="alert alert-danger"> --> 
  <div *ngIf="f.phoneNo.errors && f.phoneNo.touched" class="invalid-feedback"> 
  <!-- <div *ngIf="phoneNo.errors.required">Phone no. is required</div> --> 
  <div *ngIf="f.phoneNo.errors.required">Phone Number is required (Should be a 10 digit entry)</div> 
  <div *ngIf="f.phoneNo.errors.invalid">Phone Number is invalid</div> 
  </div> 
  </div> 
  </div> 
  
  <div class="form-group row"> 
  <div class="col-xs-5"> 
  <label for="address">ADDRESS</label> 
  <input 
  formControlName="address" 
  id="address" 
  type="text" 
  class="form-control" 
  autocomplete="off" 
  [ngClass]="{'is-invalid': f.address.errors && f.address.touched}"> 
  <!-- <div *ngIf="address.touched && address.invalid" class="alert alert-danger"> --> 
  <div *ngIf="f.address.errors && f.address.touched" class="invalid-feedback"> 
  <!-- <div *ngIf="address.errors.required">Phone no. is required</div> --> 
  <div *ngIf="f.address.errors.required">Address is required</div> 
  </div> 
  </div> 
  <div class="col-xs-5"> 
  <label for="brief">BRIEF MEDICAL HISTORY OF THE PATIENT (OPTIONAL)</label> 
  <input 
  id="brief" 
  type="text" 
  class="form-control" 
  autocomplete="off"> 
  </div> 
  </div> 
  
  <div class="form-group row"> 
  <div class="col-xs-5"> 
  <label for="password">PASSWORD</label> 
  <input 
  formControlName="password" 
  id="password" 
  type="password" 
  class="form-control" 
  [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"> 
  <!-- <div *ngIf="password.touched && password.invalid" class="alert alert-danger"> --> 
  <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback"> 
  <!-- <div *ngIf="password.errors.required">Password is required</div> --> 
  <div *ngIf="f.password.errors.required ">Password is required</div> 
  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div> 
  </div> 
  </div> 
  <div class="col-xs-5"> 
  <label for="confirmPswd">CONFIRM PASSWORD</label> 
  <input 
  formControlName="confirmPswd" 
  id="confirmPswd" 
  type="password" 
  class="form-control" 
  [ngClass]="{'is-invalid': f.confirmPswd.errors && f.confirmPswd.touched}"> 
  <!-- <div *ngIf="confirmPswd.touched && confirmPswd.invalid" class="alert alert-danger"> --> 
  <div *ngIf="f.confirmPswd.errors && f.confirmPswd.touched" class="invalid-feedback"> 
  <!-- <div *ngIf="confirmPswd.errors.required">Retype the password</div> --> 
  <div *ngIf="f.confirmPswd.errors.required">Retype the password</div> 
  <div *ngIf="f.confirmPswd.errors.mustMatch">Passwords must match</div> 
  </div> 
  </div> 
  </div> 
  <br> 
  <br> 
  
  <div class="go"> 
  <button class="button">REGISTER</button> 
  </div> 
  </div>
  </form><br><br> 
  <div id="linkingDiv"> 
  <p id ="pa">Existing User? &nbsp; 
  <a routerLink = '/login'>Go to Login Page</a> 
  </p> 
  </div> 
  </div>