body { 
    width: 100%; 
    height: 100%; 
    
    background-color: #eee; 
    font-family: 'Roboto', cursive; 
    color: rgba(48, 69, 92, 0.8); 
    } 
    
    #wrapper { 
    min-height: 0; 
    display: inline-block; 
    position: relative; 
    left: 50%; 
    margin: 50px 0; 
    transform: translate(-50%, 0); 
    background-color: #fefffa; 
    max-width: 450px; 
    padding: 30px; 
    
    padding: 5%; 
    margin-bottom: 2%; 
    box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    } 
    h2 { 
    color: #4CAF50; 
    text-align: center; 
    } 
    h3{ 
    color: limegreen; 
    } 
    
    h1 { 
    margin: 10% auto 0; 
    text-transform: uppercase; 
    font-size: 36px; 
    line-height: 42px; 
    letter-spacing: 3px; 
    font-weight: 100; 
    text-align: center; 
    display: table; 
    padding: 10px 0; 
    font-weight: bolder; 
    border-bottom: 2px solid #000; 
    } 
    h2 { 
    font-size: 26px; 
    line-height: 34px; 
    font-weight: 300; 
    letter-spacing: 1px; 
    display: block; 
    background-color: #fefffa; 
    margin: 0; 
    cursor: pointer; 
    } 
    p { 
    color: rgba(48, 69, 92, 0.8); 
    font-size: 17px; 
    line-height: 26px; 
    letter-spacing: 1px; 
    position: relative; 
    overflow: hidden; 
    max-height: 800px; 
    opacity: 1; 
    transform: translate(0, 0); 
    margin-top: 14px; 
    z-index: 2; 
    transition:all 500ms ease; 
    border: 1px solid lightgray; 
    padding: 2px; 
    } 
    /* p, ul li i:before, ul li i:after { 
    transition: all 0.25s ease-in-out; 
    } */ 
    ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    } 
    ul>li { 
    position: relative; 
    padding: 0; 
    margin: 0; 
    padding-bottom: 4px; 
    padding-top: 18px; 
    border-top: 1px dotted #dce7eb; 
    } 
    ul>li> i{ 
    position: absolute; 
    transform: translate(-6px, 0); 
    margin-top: 9px; 
    right: 0; 
    } 
    ul>li>i:before,ul>li>i:after { 
    content: ""; 
    position: absolute; 
    background-color: #000; 
    width: 3px; 
    height: 16px; 
    } 
    :before { 
    transform: translate(2px, 0) rotate(45deg); 
    } 
    :after { 
    transform: translate(2px, 0) rotate(-45deg); 
    } 
    
    input[type=checkbox] { 
    position: absolute; 
    cursor: pointer; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    opacity: 0; 
    } 
    :checked ~ p { 
    margin-top: 0; 
    max-height: 0; 
    opacity: 0; 
    transform: translate(0, 50%); 
    } 
    
    :checked ~ i:before { 
    margin-top: 9px; 
    height: 9px; 
    transform: translate(2px, 0) rotate(45deg); 
    } 
    :checked ~ i:after { 
    margin-top: 9px; 
    height: 9px; 
    transform: translate(-2px, 0) rotate(-45deg); 
    } 
    
    
    ul li:nth-of-type(1) { 
    border-top:none; 
    animation-delay: 0.5s; 
    } 
    ul li:nth-of-type(2) { 
    animation-delay: 0.75s; 
    } 
    ul li:nth-of-type(3) { 
    animation-delay: 1s; 
    } 
    ul li:last-of-type { 
    padding-bottom: 0; 
    } 
    li { 
    animation: bounceInUp 1s ease both; 
    }
    
   