ul{
    border: 3px solid gray;
    border-radius: 8px;
    padding:10px 70px;
    margin-bottom: 30px
}
#s{
    float: right;
    color: #17A589   ;
    font-style: bold;
}
#date{
    color:gray;
    float:top;
}
#name{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#566573  
}
#add{
  color:  #707B7C  
}
